@(form: Form[(String, String)])(implicit flash: Flash, session: play.api.mvc.Session)

@main("Login") {
  @helper.form(
    routes.Application.authenticate,
    'class -> "form-horizontal"
  ) {
    <fieldset>
      @if(form.hasErrors) {
        <div class="alert alert-block alert-error">
          There are problems.
        </div>
      }

      @flash.get("success").map { message =>
        <div class="alert alert-block alert-info">
          @message
        </div>
      }

      @helper.inputText(
        form("email"),
        'type -> "email",
        'placeholder -> "example@example.com",
        '_label -> Messages("views.login.email"),
        '_error -> form.globalError
      )
      @helper.inputPassword(
        form("password"),
        'placeholder -> "secret",
        '_label -> Messages("views.login.password"),
        '_error -> form.globalError
      )
      <div class="control-group">
        <div class="controls">
          <button type="submit" id="loginbutton" class="btn btn-default btn-lg">Login</button>
        </div>
      </div>
    </fieldset>
  }

  <div class="well well-small">
    Don't you have an account? <a href="@routes.Application.signup">Let's sign up here</a>.
  </div>
}