@(form: Form[(String, String)])(implicit flash: Flash, session: play.api.mvc.Session)

@import helper.twitterBootstrap._

@main("Login") {
  <legend>@Messages("common.login")</legend>
  @helper.form(
    routes.Application.authenticate,
//    'class -> "form-horizontal",
    'role -> "form"
  ) {
    <fieldset>
      @if(form.hasErrors) {
        <div class="alert alert-block alert-error">
          @Messages("validation.hasProbrems")
        </div>
      }

      @flash.get("success").map { message =>
        <div class="alert alert-block alert-info">
          @message
        </div>
      }

      <div class="form-group">
        @helper.inputText(
          form("email"),
          'class -> "form-control",
          'type -> "email",
          'placeholder -> "example@example.com",
          '_label -> Messages("views.auth.email"),
          '_error -> form.globalError
        )
      </div>
      <div class="form-group">
        @helper.inputPassword(
          form("password"),
          'class -> "form-control",
          'placeholder -> "secret",
          '_label -> Messages("views.auth.password"),
          '_error -> form.globalError
        )
      </div>
      <div class="form-group">
        <button type="submit" id="loginbutton" class="btn btn-default btn-lg">@Messages("common.login")</button>
      </div>
    </fieldset>
  }

  <div class="well well-small" style="margin-top: 20px">
      @Messages("views.login.txt.signup1") <a href="@routes.Application.signup">@Messages("views.login.txt.signup2")</a>@Messages("views.login.txt.signup3")
  </div>
}