@(user: HaUser)(implicit flash: Flash, session: play.api.mvc.Session)

@main(
  if(flash.get("fresh")isEmpty) {
    Messages("views.registered.title.reload")
  } else {
    Messages("views.registered.title")
  }
) {
  <legend>
    @if(flash.get("fresh")isEmpty) {
      @Messages("views.registered.message.reload")
    } else {
      @Messages("views.registered.message")
    }
  </legend>


  <dl class="dl-horizontal">
    <dt>@Messages("views.auth.email")</dt>
@*
    <dd>@user.email</dd>
*@
    <dd>@session.get("email")</dd>
  </dl>

  <div class="well well-small">
    <a href="@routes.Application.logout">@Messages("common.logout")</a>
  </div>
}