@(form: Form[(String, (String, String))])(implicit session: play.api.mvc.Session)

@import helper.twitterBootstrap._

@main("Sign up") {
  <legend>@Messages("common.signup.long")</legend>
  @helper.form(
    routes.Application.register,
//    'class -> "form-horizontal",
    'role -> "form"
  ) {
      <fieldset>
        @if(form.hasErrors) {
          <div class="alert alert-block alert-error">
            @Messages("views.common.alert.error")
          </div>
        }
        <div class="form-group">
          @helper.inputText(
            form("email"),
            'class -> "form-control",
            'type -> "email",
            'placeholder -> Messages("views.auth.email.placeholder"),
            '_label -> Messages("views.auth.email"),
            '_help -> Messages("views.signup.email.help"),
            '_error -> form.error("email")
          )
        </div>
        <div class="form-group">
          @helper.inputPassword(
            form("password.main"),
            'class -> "form-control",
            'placeholder -> "secret",
            '_label -> Messages("views.auth.password"),
            '_error -> form.error("password")
          )
        </div>
        <div class="form-group">
          @helper.inputPassword(
            form("password.confirm"),
            'class -> "form-control",
            'placeholder -> "secret",
            '_label -> {Messages("views.auth.password")+Messages("views.auth.confirm")},
            '_help -> Messages("views.signup.password_confirm.help")
          )
        </div>
        <div class="form-group">
          <button type="submit" id="signupbutton" class="btn btn-default btn-lg">@Messages("common.signup.do")</button>
        </div>
      </fieldset>
  }
}